     /* 
Project Name: Monochrome Sluts
Author: Kirsten Browning
*/

/******************************************
/* COLOURS
/*******************************************/

/* BLACK: #000 */
/* WHITE: #fff */
/* OVERLAY OPACITY: 0.7 */

/******************************************
/* SENSIBLE DEFAULTS                   
/*******************************************/

* {
     box-sizing: border-box;
/*     border:1px solid blue;*/
}

img {
	max-width:100%;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

body {
     font-family: 'Montserrat', sans-serif;
     font-size:12px;
     color:#000;
}

h2 {
     text-transform:uppercase;
     font-size:1.5em;
     letter-spacing: 0.4em;
}

h3 {
     font-size:1em;
     font-weight: 400;
}

a {
     text-decoration:none;
     text-transform:uppercase;
     color:#000;
     letter-spacing:0.1em;
}

a:visited {
     color:#000;
}

a:hover {
     text-decoration: underline;
}
/******************************************
/* LAYOUT                   
/*******************************************/

.site-container {
     max-width:1200px;
	margin: 30px auto;
}

.site-header {
     padding-bottom:50px;
     height:200px;
     width:100%;
     background:pink;

}

.site-nav {
     float:left;
     margin-top:20px;
     margin-bottom:10px;
}

ul {
     -webkit-padding-start: 0;
}
@media screen and (max-width:800px) {
     .site-nav {
          float:left;
     }
     .site-nav ul {
          padding:0;
          line-height:2em;
     }
}
@media screen and (max-width:800px) {
     .site-nav ul {
          display:none;
     }
}
.site-nav ul {
     list-style:none;
     padding-left:20px;
}
.site-nav li {
     display:inline-block;
     padding-right:20px;
}

@media screen and (max-width: 800px) {
     .site-nav li {
          display:block;
     }
}
.site-nav a {
     color:#000;
     letter-spacing:0.3em;
}
.nav-icon {
     position:absolute;
     width:40px;
     height:40px;
     top:20px
}
.nav-icon {
     display:none;
     left:20px;
}
@media screen and (max-width: 800px) {
     .nav-icon { display:block; }
}

.site-logo img {
     width:200px;
     display:inline-block;
     padding-left:20px;
}

@media screen and (max-width: 800px) {
     .site-logo img { display:none; }
}

.mobile-logo {
     display:none;
     margin-left:40px;
}

.mobile-logo img {
     height:60px;
}

@media screen and (max-width: 800px) {
     .mobile-logo img { display:inline-block; }
     .site-container {margin-top:0px;}
     .site-header {margin:0; padding:0;}
}


article {
/*     width:100%;*/
     background:pink;
}

.article-nav {
     width:100%;
     display:inline-block;
     padding:30px;
}

#previous {
     float:left;
}

#next {
     float:right;
}

.insta-link {
     color:#000;
     padding:15px;
     position:absolute;
     left:0;
     bottom:0;
     background-color:#fff;
     opacity:0.8;
}

#instafeed {
     display:inline-block;
     width:100%;
     position:relative;
}

.site-footer {
     display:inline-block;
     height:70px;
     width:100%;
}


.social li {
     display:inline-block;
     float:right
}

.social li a {
     padding-right:10px;
     height:40px;
}

.thumbnail {
     height:300px;
     width:100%;
     background:
     url(../images/ms-heroimage-trial-desktop-2.jpg)
     no-repeat
     center;
}
/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/




