     /* 
Project Name: Monochrome Sluts
Author: Kirsten Browning
*/

/******************************************
/* COLOURS
/*******************************************/

/* BLACK: #000 */
/* WHITE: #fff */
/* OVERLAY OPACITY: 0.8 */

/******************************************
/* SENSIBLE DEFAULTS                   
/*******************************************/

* {
     box-sizing: border-box;
   /*  border:1px solid blue;*/
}

img {
	max-width:100%;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

body {
     font-family: 'Montserrat', sans-serif;
     font-size:12px;
     color:#000;
}

h2 {
     text-transform:uppercase;
     font-size:1.5em;
     letter-spacing: 0.4em;
}

a {
     text-decoration:none;
}

/******************************************
/* LAYOUT                   
/*******************************************/

.site-container {
     max-width:1200px;
	margin: 30px auto;
     padding-left:20px;
     padding-right:20px;

}

.site-header {
     padding-bottom:50px;

}

.site-nav {
     float:left;
}

ul {
     -webkit-padding-start: 0;
}
@media screen and (max-width:800px) {
     .site-nav {
          float:left;
     }
     .site-nav ul {
          padding:0;
     }
}
@media screen and (max-width:800px) {
     .site-nav ul {
          display:none;
     }
}
.site-nav ul {
     list-style:none;
}
.site-nav li {
     display:inline-block;
     letter-spacing:0.1em;
     padding-right:20px;
}

.site-nav li:hover {
     text-decoration:underline;
}

@media screen and (max-width: 800px) {
     .site-nav li {
          display:block;
     }
}
.site-nav a {
     color:#000;
     letter-spacing:0.3em;
     text-transform:uppercase;
     text-decoration:none;
}
.nav-icon,
.nav-icon:before,
.nav-icon:after {
     content:"";
     position:absolute;
     left:0px;
     width:2em;
     height:2em;
     border-top:0.25em solid #000;
}
.nav-icon {
     display:none;
     top:0.75em;
     margin-top: 1em;
}
@media screen and (max-width: 800px) {
     .nav-icon { display:block; }
}
.nav-icon:before {
     top:0.25em;
     right:0;
}
.nav-icon:after {
     top:0.75em;
     right:0;
}


.site-logo img {
     width:200px;
     display:inline-block;
}

@media screen and (max-width: 800px) {
     .site-logo img { display:none; }
}



.mobile-logo {
     display:none;
     height:60px;
}

.mobile-logo img {
     height:60px;
}

@media screen and (max-width: 800px) {
     .mobile-logo img { display:inline-block; }
}


article {
     width:100%;
     min-width:310px;
     height:400px;
     display:block;
     position:relative;
     float:left;
     background:
     url(../images/ms-heroimage-trial-desktop-2.jpg)
     no-repeat
     center;
     -webkit-filter: grayscale(1);
     filter: grayscale(1);
}


article:hover {
-webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.title-box {
     background-color:#fff;
     padding:30px;
     max-width:450px;
     position:absolute;
     left:0;
     bottom:0;
     margin:30px;
     opacity:0.8;
}

.title-box-text p {
     padding-bottom:10px;
}


.title-box-text a {
     color:#000;
     letter-spacing:0.3em;
     border:2px solid #000;
     padding:10px;
     text-transform:uppercase;
     float:right;
}

.title-box-text a:hover {
     color:#fff;
     background-color:#000;

}

.site-content {
     height:100%;

}

/*.instagram {
     position:relative;
     
}*/

.insta-link {
     color:#000;
     padding:15px;
     position:absolute;
     left:0;
     bottom:0;
     background-color:#fff;
     opacity:0.8;
}

#instafeed {
     display:inline-block;
     width:100%;
     position:relative;
}

.site-footer {
     display:inline-block;
     height:70px;
     width:100%;
     padding-top:30px;
}


.social li {
     display:inline-block;
     /*background-color:pink;*/
     float:right
}

.social li a {
     padding-right:10px;
     height:40px;
}


/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/




