/* 
Project Name: Landing Page
Client: Monochrome Sluts
Author: Kirsten Browning
*/

/******************************************
/* COLOURS
/*******************************************/

/* add a list of colours used in the project */

/******************************************
/* SENSIBLE DEFAULTS                   
/*******************************************/

* {
     box-sizing: border-box;
     padding:0;
}

img {
	max-width:100%;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

body {
     font-family: 'Helvetica', sans-serif;
     font-size:14px;
}



/******************************************
/* LAYOUT                   
/*******************************************/

.site-container {
	margin: 10% auto;
     text-align:center;

}

.site-header {
     margin-bottom:5%;
}
.site-header h1 {
	color:#000;
     font-size:0.9rem;
     letter-spacing:0.3rem;
}

@media screen and (max-width:500px) {
     .site-header h1 {
          font-size:01rem;
     }
}
@media screen and (max-width:400px) {
     .site-header h1 {
          font-size:1.1rem;
     }
}

/*@media screen and (max-width:400px) {
     .site-header h1 {
          font-size:0.7rem;
     }
}*/
.logo {
     max-width:30%;
     margin: 0 auto;
}
@media screen and (max-width:600px) {
     .logo {
          max-width:40%;
     }
}

@media screen and (max-width:450px) {
     .logo {
          max-width:50%;
     }
}

@media screen and (max-width:350px) {
     .logo {
          max-width:60%;
     }
}

.site-footer {  
     margin-top:10px;
     max-height:40px;  
}

.social li{
     display:inline-block;
     max-width:20px;
     max-height:30px;
     margin:8px;
}

@media screen and (max-width:600px) {
     .social li {
          max-width:25px;
          margin:5px;
     }
}
@media screen and (max-width:350px) {
     .social li {
          max-width:20px;
     }
}


/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/




