/* 
Project Name: Landing Page
Client: Monochrome Sluts
Author: Kirsten Browning
*/

/******************************************
/* COLOURS
/*******************************************/

/* add a list of colours used in the project */

/******************************************
/* SENSIBLE DEFAULTS                   
/*******************************************/

* {
     box-sizing: border-box;
     padding:0;
}

img {
	max-width:100%;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

body {
     font-family: Helvetica, sans-serif;
     font-weight:400;
     font-size:14px;
} 

h1 {
     color:#000;
     font-size:1.1rem;
     letter-spacing:0.3rem;
     text-transform: uppercase;
}

h2 {
     font-size:0.9rem;
     letter-spacing:0;
     font-weight:normal;
     letter-spacing:0.08rem;  
     padding-bottom:8px;
}

.mc-field-group {
     font-size:0.8rem;
     letter-spacing:0.08rem; 
}
/******************************************
/* LAYOUT                   
/*******************************************/

.site-container {
	margin: 10% auto;
     text-align:center;

}

.site-header {
     margin-bottom:30px;
}

.logo {
     max-width:30%;
     margin: 0 auto;
}
@media screen and (max-width:600px) {
     .logo {
          max-width:40%;
     }
}

@media screen and (max-width:450px) {
     .logo {
          max-width:60%;
     }
}

@media screen and (max-width:350px) {
     .logo {
          max-width:60%;
     }
}

.site-footer {  
     max-height:40px;
     margin-top:20px;
}

.social li{
     display:inline-block;
     max-width:20px;
     max-height:30px;
     margin:8px;
}

.social li:first-child{
     margin-left:0px;
}

.clear, .mc-field-group {
     display:inline-block;
}

.button {
     background:#000;
     color:#fff;
     font-weight:bold;
     letter-spacing:0.05rem;
     font-size:0.8rem;
     border:none;
     text-transform:uppercase;
     height:30px;
     width:80px;
}

#mce-EMAIL {
     height:30px;
     padding-left:5px;
     width:200px;
     letter-spacing:0.08rem; 
}

#mc_embed_signup {
     max-width:300px;
     margin:auto;
     padding-top:10px;
     margin-top:40px;
     border-top:1px solid #ccc;
}


/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/




